*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #010758, #490d61);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.container h1{
  font-size: 45px;
  font-weight: 500;
  margin-top: -50px;
  margin-bottom: 50px;
}

span{
  color: #ff2963;
  border-bottom: 3px solid #ff2963
}

textarea{
  width: 600px;
  height: 250px;
  background: #403d84;
  color:#fff;
  font-size: 15px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  margin-bottom: 30px;
}

textarea::placeholder{
  font-size: 16px;
  color: #ddd;
}

.row{
  width: 600px;
  display: flex;
  gap: 20px;
  align-items: center;
}

button{
  background: #ff2963;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

button{
  font-size: 16px;
  cursor: pointer;
}

select{
  flex: 1;
  color: #fff;
  background: #403d84;
  height: 50px;
  padding: 0 20px;
  outline: o;
  border: 0;
  border-radius: 35px;
  /* appearance: none; */
  /* background-image: url(caret-down10.jpg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: calc(100% - 7%);
  background-position-y: 20px; */

}
